:root {
    --p-grey-color: #889096 !important;          /* Основной цвет success */
    --p-primary-color: #6092F1 !important;          /* Основной цвет success */
    --p-button-primary-hover-background: #0c82ff !important;
    --p-button-primary-hover-border-color: #0c82ff !important;
    --p-button-outlined-primary-border-color: var(--p-primary-color) !important;
    --p-button-outlined-primary-hover-background: rgba(255, 255, 255, 0) !important;
    --p-accordion-header-background: trasparent !important;
    --p-accordion-content-background: trasparent !important;
    --p-accordion-header-active-background: trasparent !important;
    --p-accordion-header-hover-background: trasparent !important;
    --p-accordion-header-active-hover-background: trasparent !important;
    --p-progressbar-value-background: #44E385 !important;
    --p-galleria-inset-indicator-list-background : rgba(104, 104, 104, 0.16) !important;
}

.p-breadcrumb{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.p-breadcrumb-item-link{
    gap: 0 !important;
}

